@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), var(--font-noto-sans-kr);
  --font-mono: var(--font-jetbrains-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
}
